:root{
    --main-blue: #44959a
}

body{
    background-image: linear-gradient(to bottom right, var(--main-blue), #8E6365 );;
}
.container{
    background-color: #efe3e3;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.4rem;
}

.introduction{    
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 20px;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 5rem;
    font-weight: lighter;
    margin-bottom: 0;
}

h2, h3, p, figcaption, .content{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: rem;
    margin-bottom: 0;
}

p{
    text-align: justify;
    background-clip: padding-box;
    padding: 7px 32px;
    margin: 20px 54px;  
    background-color: #d8e2da;
}

figure{
    display: flex;
    flex-direction: column;
}

.renato-russo-image{
    height: 250px;
    border-radius: 10px 10px 0 0 ;
    
}

figcaption{
    padding: 7px 0;
   text-align: center;
}

main{
    width: 100%;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.content h2{
    color: var(--main-blue);
    text-transform: capitalize;
}
.time-line, .summary{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-line{
    width: 70%;
}

.summary{
    width:30%;
}

table{
    border-collapse: collapse;
    width: 92%;
}

.time-line-font{
    align-self: flex-end;
    margin-top: 0;
    font-style: italic;
}

tbody tr:nth-child(even){
    /* background-color: #eb753c; */
}

tbody tr:nth-child(odd){
    /* background-color: #57afcc; */
}

td{
    letter-spacing: 1px;
}

tr td:first-child{
    width: 17%;
    padding: 5px;
    border-top: 2px solid var(--main-blue)
}

tr td:last-child{
    padding-right: 1.5rem;
    line-height: 1.5rem;
    text-align: justify;
    border-top: 1px solid var(--main-blue)
}